# based on: https://github.com/helm/charts-repo-actions-demo/blob/main/.github/workflows/release.yaml
name: release

permissions:
  contents: write

on:
  push:
    tags:
      - 'kubetail-*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write # needed for ghcr access
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.2

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      # see https://github.com/helm/chart-releaser/issues/183
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push charts to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/helm-charts"
          done

  attach-manifests:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.2

      - name: Create quickstart manifests
        run: |
          helm template kubetail charts/kubetail --values hack/kubetail-values-clusterauth.yaml > kubetail-clusterauth.yaml
          helm template kubetail charts/kubetail --values hack/kubetail-values-tokenauth.yaml > kubetail-tokenauth.yaml

      - name: Get kubetail chart version
        id: get_version
        uses: mikefarah/yq@v4
        with:
          cmd: yq '.version' charts/kubetail/Chart.yaml

      - name: Attach quickstart manifests to gh release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: kubetail-${{ steps.get_version.outputs.result }}
          files: |
            kubetail-clusterauth.yaml
            kubetail-tokenauth.yaml
